
.navbar {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 180px;
  height: 150px;
  background-color: transparent;
  margin-top: -70px;
  margin-bottom: -25px;
  margin-left: 70px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: -190px;
  margin-bottom: -200px;
  margin-right: 70px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000000;
  padding-right: 20px;
  margin-bottom: -200px;
  font-size: large;
  font-weight: bolder;
}
.buttonNavbar{
  background-color: #015004;
  color: white;
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 130px;
  margin-top: -20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
.Footer{
  background-color: #000000;
  height: 300px;
  margin-top: 400px;
}
.UpperPart{
  background-color: #000000;
  height: 200px;
  columns: 2;
  display: flex;
}
.LeftSide{
  background-color: rgb(0, 0, 0);
  width: 650px;
}
.subheading{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.icons2{
  color: white;
  display: flex;
  columns: 2;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px ;
}
.Rightside{
  margin-left: 140px;
  margin-top: -80px;
}
.imagefooter{
  height: 100px;
}

.straightline{
  width: 1200px;
  margin-left: 60px;
  margin-top: 10px;
}
.Lowerpart{
  background-color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  columns: 2;
}
.FindusOn{
  background-color: rgb(0, 0, 0);
  width: 650px;
  height: 50px;
}
.find1{
  margin-left: 100px;
  margin-top: 30px;
  color: #e7e7e7;
}
.social-icons{
  display: flex;
  margin-left: 250px;
  margin-top: -30px;
  gap: 50px;
  size: 20px;
  color: gray;
}
.icons{
  color:gray;
  font-size: 25px;
}
.Copyright{
  margin-left: 250px;
  margin-top: 30px;
  color: white;
}
@media only screen and (min-width: 360px) and (max-width:375px) {

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 130px;
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: flex;
    margin-top: 10px;
    width: 325px;
    padding-left: -100px;
    margin-right: 240px;
  }
  .logo img {
    width: 120px;
    margin-left: 10px;
    height: 170px;
    margin-top: -100px;
  }
  .toggle-btn {
    display: block;
    margin-top: -10px;
  }
  .Footer{
    background-color: #000000;
    height: 300px;
    margin-top: 400px;
    margin-bottom: 0;
  }
  .UpperPart{
    background-color: #000000;
    height: 500px;
    columns: 1;
    display: grid;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    width: 360px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px ;
  }
  .Rightside{
    margin-left: -15px;
    margin-top: -250px;
    height: 10px;
  }
  .straightline{
    width: 300px;
    margin-left: 20px;
    margin-top: -150px;
    color: red;
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: grid;
    columns: 1;
    width: 360px;
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 323px;
    height: 50px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;
    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 150px;
    margin-top: -20px;
    gap: 10px;
    size: 20px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 25px;
  }
  .Copyright{
    margin-left: 50px;
    margin-top: 30px;
    color: white;
  }
  
}
@media only screen and (min-width: 384px) and (max-width:420px) {

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 130px;
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: flex;
    margin-top: 10px;
    width: 325px;
    padding-left: -100px;
    margin-right: 240px;
  }
  .logo img {
    width: 120px;
    margin-left: 10px;
    height: 170px;
    margin-top: -100px;
  }
  .toggle-btn {
    display: block;
    margin-top: -10px;
  }

  .Footer{
    background-color: #000000;
    height: 300px;
    width: 400px;
    margin-top: 400px;
    margin-bottom: 0;
    width: 323px;
  }
  .UpperPart{
    background-color: #000000;
    height: 500px;
    width: 415px;
    columns: 1;
    display: grid;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    width: 323px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px ;
  }
  .Rightside{
    margin-left: -15px;
    margin-top: -250px;
    height: 10px;
  }
  .straightline{
    width: 300px;
    margin-left: 20px;
    margin-top: -150px;
    color: red;
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: grid;
    columns: 1;
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 415px;
    height: 50px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;
    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 150px;
    margin-top: -20px;
    gap: 10px;
    size: 20px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 25px;
  }
  .Copyright{
    margin-left: 50px;
    margin-top: 30px;
    color: white;
  }
  

  
}
@media only screen and (min-width: 420px) and (max-width:480px) {

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 130px;
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: flex;
    margin-top: 10px;
    width: 325px;
    padding-left: -100px;
    margin-right: 240px;
  }
  .logo img {
    width: 120px;
    margin-left: 10px;
    height: 150px;
    margin-top: -90px;
  }
  .toggle-btn {
    display: block;
    margin-top: -10px;
  }

  .Footer{
    background-color: #000000;
    height: 300px;
    margin-top: 400px;
    margin-bottom: 0;
  }
  .UpperPart{
    background-color: #000000;
    height: 500px;
    columns: 1;
    display: grid;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    width: 360px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px ;
  }
  .Rightside{
    margin-left: -15px;
    margin-top: -250px;
    height: 10px;
  }
  .straightline{
    width: 300px;
    margin-left: 20px;
    margin-top: -150px;
    color: red;
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: grid;
    columns: 1;
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 322px;
    height: 50px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;

    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 150px;
    margin-top: -20px;
    gap: 10px;
    size: 20px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 25px;
  }
  .Copyright{
    margin-left: 50px;
    margin-top: 30px;
    color: white;
  }
}
@media only screen and (min-width: 481px) and (max-width:700px) {

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 130px;
    margin-top: -20px;
    margin-left: -10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: flex;
    margin-top: 10px;
    width: 325px;
    padding-left: -100px;
    margin-right: 240px;
  }
  .logo img {
    width: 120px;
    margin-left: 10px;
    height: 150px;
    margin-top: -90px;
  }
  .toggle-btn {
    display: block;
    margin-top: -10px;
  }

  .Footer{
    background-color: #000000;
    height: 300px;
    margin-top: 400px;
    margin-bottom: 0;
  }
  .UpperPart{
    background-color: #000000;
    height: 500px;
    columns: 1;
    display: grid;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    width: 360px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px ;
  }
  .Rightside{
    margin-left: -15px;
    margin-top: -250px;
    height: 10px;
  }
  .straightline{
    width: 300px;
    margin-left: 20px;
    margin-top: -150px;
    color: red;
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: grid;
    columns: 1;
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 322px;
    height: 50px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;

    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 150px;
    margin-top: -20px;
    gap: 10px;
    size: 20px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 25px;
  }
  .Copyright{
    margin-left: 50px;
    margin-top: 30px;
    color: white;
  }
}
@media only screen and (min-width: 760px) and (max-width:790px) {
  .nav-list {
    display: flex;
    top: 60px;
    left: 250px;
    color: black;
    right: 0;
    margin-left: 20px;
    background-color: #ffffff;
    z-index: 1;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 130px;
    margin-top: -500px;
    margin-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: none;
  }
  .logo img {
    width: 150px;
    margin-left: 50px;
    height: 170px;
    margin-top: -80px;
  }
  .toggle-btn {
    display: none;
  }
  .Footer{
    background-color: #000000;
    width: 768px;
    height: 350px;
    margin-top: 400px;
    margin-bottom: 0;
  }
  .UpperPart{
    background-color: #000000;
    width: 768px;
    display: flex;
    columns: 2;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    height: 200px;
    width: 500px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px ;
  }
  .Rightside{
    margin-top: 0px;
    height: 200px;
    width: 368px;
    margin-left: -100px;
    background-color: black;
  }
  .footerpic{
    margin-left: px;
    margin-top: -50px;
    width: 368px;
    height: 300px;
  }
  .straightline{
    width: 600px;
    margin-left: 80px;
    margin-top: 0px;
    color: rgb(255, 0, 0);
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    columns: 2;
    width: 768px;
    margin-top: 80px;
    
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 768px;
    height: 50px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;
    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 150px;
    margin-top: -30px;
    gap: 10px;
    size: 20px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 25px;
  }
  .Copyright{
    margin-left:-150px;
    margin-top: 30px;
    color: white;
  }
  
}  
@media only screen and (min-width: 1000px) and (max-width:1120px) {
    .nav-list {
      display: flex;
      top: 60px;
      left: 250px;
      color: black;
      right: 0;
      margin-left: 20px;
      background-color: #ffffff;
      z-index: 1;
    }
    .buttonNavbar{
      background-color: #015004;
      color: white;
      border: none;
      border-radius: 40px;
      height: 40px;
      width: 130px;
      margin-top: -500px;
      margin-left: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      font-size: large;
      cursor: pointer;
    }
    
    .nav-list.show {
      display: none;
    }
    .logo img {
      width: 150px;
      margin-left: 50px;
      height: 170px;
      margin-top: -80px;
    }
    .toggle-btn {
      display: none;
    }
    .Footer{
      background-color: #000000;
      width: 1024px;
      height: 350px;
      margin-top: 400px;
      margin-bottom: 0;
    }
    .UpperPart{
      background-color: #000000;
      width: 768px;
      display: flex;
      columns: 2;
    }
    .LeftSide{
      background-color: rgb(0, 0, 0);
      margin-top: 0px;
      height: 200px;
      width: 800px;
    }
    .subheading{
      color: white;
      margin-top: 20px;
      margin-left: 10px;
      width: 600px;
    }
    .icons2{
      color: white;
      display: flex;
      columns: 2;
      gap: 30px;
      margin-top: 20px;
      margin-left: 10px ;
    }
    .Rightside{
      margin-top: 0px;
      height: 200px;
      width: 368px;
      margin-left: -100px;
      background-color: black;
    }
    .footerpic{
      margin-left: 200px;
      margin-top: -50px;
      width: 368px;
      height: 300px;
    }
    .straightline{
      width: 600px;
      margin-left: 80px;
      margin-top: 20px;
      color: rgb(255, 0, 0);
      display: none;
    }
    .Lowerpart{
      background-color: rgb(0, 0, 0);
      height: 100px;
      display: flex;
      columns: 2;
      width: 1024px;
      margin-top: 0px;
      
    }
    .FindusOn{
      background-color: rgb(0, 0, 0);
      width: 768px;
      height: 50px;
    }
    .find1{
      margin-left: 30px;
      margin-top: 30px;
      color: #e7e7e7;
    }
    .social-icons{
      display: flex;
      margin-left: 150px;
      margin-top: -30px;
      gap: 10px;
      size: 20px;
      color: gray;
    }
    .icons{
      color:gray;
      font-size: 25px;
    }
    .Copyright{
      margin-left:-150px;
      margin-top: 30px;
      color: white;
    }
    
}  
@media only screen and (min-width: 798px) and (max-width:884px) {
      .nav-list {
        display: flex;
        top: 60px;
        left: 250px;
        color: black;
        right: 0;
        margin-left: 20px;
        background-color: #ffffff;
        z-index: 1;
      }
      .buttonNavbar{
        background-color: #015004;
        color: white;
        border: none;
        border-radius: 40px;
        height: 40px;
        width: 130px;
        margin-top: -500px;
        margin-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
      }
      
      .nav-list.show {
        display: none;
      }
      .logo img {
        width: 150px;
        margin-left: 50px;
        height: 170px;
        margin-top: -80px;
      }
      .toggle-btn {
        display: none;
      }
      .Footer{
        background-color: #000000;
        width: 835px;
        height: 350px;
        margin-top: 400px;
        margin-bottom: 0;
      }
      .UpperPart{
        background-color: #000000;
        width: 768px;
        display: flex;
        columns: 2;
      }
      .LeftSide{
        background-color: rgb(0, 0, 0);
        margin-top: 0px;
        height: 200px;
        width: 500px;
      }
      .subheading{
        color: white;
        margin-top: 20px;
        margin-left: 10px;
      }
      .icons2{
        color: white;
        display: flex;
        columns: 2;
        gap: 30px;
        margin-top: 20px;
        margin-left: 10px ;
      }
      .Rightside{
        margin-top: 0px;
        height: 200px;
        width: 368px;
        margin-left: -100px;
        background-color: black;
      }
      .footerpic{
        margin-left: px;
        margin-top: -50px;
        width: 368px;
        height: 300px;
      }
      .straightline{
        width: 600px;
        margin-left: 80px;
        margin-top: 20px;
        color: rgb(255, 0, 0);
      }
      .Lowerpart{
        background-color: rgb(0, 0, 0);
        height: 100px;
        display: flex;
        columns: 2;
        width: 835pxpx;
        margin-top: 60px;
        
      }
      .FindusOn{
        background-color: rgb(0, 0, 0);
        width: 768px;
        height: 50px;
      }
      .find1{
        margin-left: 30px;
        margin-top: 30px;
        color: #e7e7e7;
      }
      .social-icons{
        display: flex;
        margin-left: 150px;
        margin-top: -30px;
        gap: 10px;
        size: 20px;
        color: gray;
      }
      .icons{
        color:gray;
        font-size: 25px;
      }
      .Copyright{
        margin-left:-150px;
        margin-top: 30px;
        color: white;
      }
      
}
@media only screen and (min-width: 3100px) and (max-width:3250px) {

  .nav-list {
    display: flex;
    margin-top: -1000px;
    left: 20px;
    color: black;
    width: 800px;
    font-size: 500px;
    font-weight: bolder;
    height: 200px;
    margin-left: 1500px;
    background-color: #ffffff;
    z-index: 1;
  }
  .height{
    font-size: 40px;
  }
  .buttonNavbar{
    background-color: #015004;
    color: white;
    border: none;
    border-radius: 40px;
    height: 60px;
    width: 150px;
    margin-top: px;
    margin-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
    cursor: pointer;
  }
  
  .nav-list.show {
    display: none;
  }
  .logo img {
    width: 500px;
    margin-left: 100px;
    height: 300px;
    margin-top: -1000x;
  }
  .toggle-btn {
    display: none;
  }
  .Footer{
    background-color: #000000;
    height: 600px;
    width: 3200px;
    margin-top: 400px;
    margin-bottom: 0px;
  }
  .UpperPart{
    background-color: #000000;
    height: 600px;
    width: 768px;
    display: flex;
    columns: 2;
  }
  .LeftSide{
    background-color: rgb(0, 0, 0);
    width: 1600px;
  }
  .subheading{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 40px;
    width: 1600px;
  }
  .icons2{
    color: white;
    display: flex;
    columns: 2;
    gap: 30px;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 105px ;
  }
  .Rightside{
    margin-left: 500px;
    margin-top: -80px;
    height: 500px;
    width: 1600px;
  }
  .footerpic{
      height: 600px;
  }
  .straightline{
    width: 3200px;
    margin-left: 100px;
    margin-top: -200px;
    display: none;
  }
  .Lowerpart{
    background-color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    columns: 2;
    margin-top: -200px;
    width: 3200px;
  }
  .FindusOn{
    background-color: rgb(0, 0, 0);
    width: 1600px;
    height: 50px;
    font-size: 40px;
    margin-left: 70px;
  }
  .find1{
    margin-left: 30px;
    margin-top: 30px;
    color: #e7e7e7;
  }
  .social-icons{
    display: flex;
    margin-left: 450px;
    margin-top: -90px;
    gap: 40px;
    size: 40px;
    color: gray;
  }
  .icons{
    color:gray;
    font-size: 80px;
  }
  .Copyright{
    margin-left: 350px;
    margin-top: 50px;
    font-size: 40px;
    color: white;
  }
}
@media only screen and (min-width: 2400px) and (max-width:2600px) {

    .nav-list {
      display: flex;
      margin-top: -1000px;
      left: 20px;
      color: black;
      width: 800px;
      font-size: 500px;
      font-weight: bolder;
      height: 200px;
      margin-left:1000px;
      background-color: #ffffff;
      z-index: 1;
    }
    .height{
      font-size: 40px;
    }
    .buttonNavbar{
      background-color: #015004;
      color: white;
      border: none;
      border-radius: 40px;
      height: 60px;
      width: 150px;
      margin-top: px;
      margin-left: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      font-size: 25px;
      margin-top: 50px;
      cursor: pointer;
    }
    
    .nav-list.show {
      display: none;
    }
    .logo img {
      width: 500px;
      margin-left: 100px;
      height: 300px;
      margin-top: -1000x;
    }
    .toggle-btn {
      display: none;
    }
    .Footer{
      background-color: #000000;
      height: 600px;
      width: 2560px;
      margin-top: 400px;
      margin-bottom: 0px;
    }
    .UpperPart{
      background-color: #000000;
      height: 600px;
      width: 768px;
      display: flex;
      columns: 2;
    }
    .LeftSide{
      background-color: rgb(0, 0, 0);
      width: 1600px;
    }
    .subheading{
      color: white;
      margin-top: 20px;
      margin-left: 100px;
      font-size: 40px;
      width: 1600px;
    }
    .icons2{
      color: white;
      display: flex;
      columns: 2;
      gap: 30px;
      font-size: 40px;
      margin-top: 20px;
      margin-left: 105px ;
    }
    .Rightside{
      margin-left: 200px;
      margin-top: -80px;
      height: 500px;
      width: 1600px;
    }
    .footerpic{
        height: 600px;
    }
    .straightline{
      width: 3200px;
      margin-left: 100px;
      margin-top: -200px;
      display: none;
    }
    .Lowerpart{
      background-color: rgb(0, 0, 0);
      height: 50px;
      display: flex;
      columns: 2;
      margin-top: -200px;
      width: 2560px;
    }
    .FindusOn{
      background-color: rgb(0, 0, 0);
      width: 1600px;
      height: 50px;
      font-size: 40px;
      margin-left: 70px;
    }
    .find1{
      margin-left: 30px;
      margin-top: 30px;
      color: #e7e7e7;
    }
    .social-icons{
      display: flex;
      margin-left: 450px;
      margin-top: -90px;
      gap: 40px;
      size: 40px;
      color: gray;
    }
    .icons{
      color:gray;
      font-size: 80px;
    }
    .Copyright{
      margin-left: 10px;
      margin-top: 50px;
      font-size: 40px;
      color: white;
    }
    
}
@media only screen and (min-width: 2000px) and (max-width:2300px) {

      .nav-list {
        display: flex;
        margin-top: -1000px;
        left: 20px;
        color: black;
        width: 800px;
        font-size: 500px;
        font-weight: bolder;
        height: 200px;
        margin-left: 600px;
        background-color: #ffffff;
        z-index: 1;
      }
      .height{
        font-size: 40px;
      }
      .buttonNavbar{
        background-color: #015004;
        color: white;
        border: none;
        border-radius: 40px;
        height: 60px;
        width: 150px;
        margin-top: px;
        margin-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-top: 50px;
        cursor: pointer;
      }
      
      .nav-list.show {
        display: none;
      }
      .logo img {
        width: 500px;
        margin-left: 100px;
        height: 300px;
        margin-top: -1000x;
      }
      .toggle-btn {
        display: none;
      }
      .Footer{
        background-color: #000000;
        height: 600px;
        width: 2048px;
        margin-top: 400px;
        margin-bottom: 0px;
      }
      .UpperPart{
        background-color: #000000;
        height: 600px;
        width: 768px;
        display: flex;
        columns: 2;
      }
      .LeftSide{
        background-color: rgb(0, 0, 0);
        width: 1600px;
      }
      .subheading{
        color: white;
        margin-top: 20px;
        margin-left: 100px;
        font-size: 30px;
        width: 1400px;
      }
      .icons2{
        color: white;
        display: flex;
        columns: 2;
        gap: 30px;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 105px ;
      }
      .Rightside{
        margin-left: -100px;
        margin-top: -80px;
        height: 500px;
        width: 1600px;
      }
      .footerpic{
          height: 600px;

      }
      .straightline{
        width: 3200px;
        margin-left: 100px;
        margin-top: -200px;
        display: none;
      }
      .Lowerpart{
        background-color: rgb(0, 0, 0);
        height: 50px;
        display: flex;
        columns: 2;
        margin-top: -200px;
        width: 2048px;
      }
      .FindusOn{
        background-color: rgb(0, 0, 0);
        width: 1600px;
        height: 50px;
        font-size: 40px;
        margin-left: 70px;
      }
      .find1{
        margin-left: 30px;
        margin-top: 30px;
        color: #e7e7e7;
      }
      .social-icons{
        display: flex;
        margin-left: 450px;
        margin-top: -90px;
        gap: 40px;
        size: 40px;
        color: gray;
      }
      .icons{
        color:gray;
        font-size: 80px;
      }
      .Copyright{
        margin-left: -500px;
        margin-top: 50px;
        font-size: 40px;
        color: white;
      }
      
}
@media only screen and (min-width: 2301px) and (max-width:2399px) {

      .nav-list {
        display: flex;
        margin-top: -1000px;
        left: 20px;
        color: black;
        width: 800px;
        font-size: 500px;
        font-weight: bolder;
        height: 200px;
        margin-left: 800px;
        background-color: #ffffff;
        z-index: 1;
      }
      .height{
        font-size: 40px;
      }
      .buttonNavbar{
        background-color: #015004;
        color: white;
        border: none;
        border-radius: 40px;
        height: 60px;
        width: 150px;
        margin-top: px;
        margin-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-top: 50px;
        cursor: pointer;
      }
      
      .nav-list.show {
        display: none;
      }
      .height{
        font-size: 40px;
      }
      .logo img {
        width: 500px;
        margin-left: 100px;
        height: 300px;
        margin-top: -1000x;
      }
      .toggle-btn {
        display: none;
      }
      .Footer{
        background-color: #000000;
        height: 600px;
        width: 2304px;
        margin-top: 400px;
        margin-bottom: 0px;
      }
      .UpperPart{
        background-color: #000000;
        height: 600px;
        width: 768px;
        display: flex;
        columns: 2;
      }
      .LeftSide{
        background-color: rgb(0, 0, 0);
        width: 1600px;
      }
      .subheading{
        color: white;
        margin-top: 20px;
        margin-left: 100px;
        font-size: 30px;
        width: 1400px;
      }
      .icons2{
        color: white;
        display: flex;
        columns: 2;
        gap: 30px;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 105px ;
      }
      .Rightside{
        margin-left: -100px;
        margin-top: -80px;
        height: 500px;
        width: 1600px;
      }
      .footerpic{
          height: 600px;

      }
      .straightline{
        width: 3200px;
        margin-left: 100px;
        margin-top: -200px;
        display: none;
      }
      .Lowerpart{
        background-color: rgb(0, 0, 0);
        height: 50px;
        display: flex;
        columns: 2;
        margin-top: -200px;
        width: 2048px;
      }
      .FindusOn{
        background-color: rgb(0, 0, 0);
        width: 1600px;
        height: 50px;
        font-size: 40px;
        margin-left: 70px;
      }
      .find1{
        margin-left: 30px;
        margin-top: 30px;
        color: #e7e7e7;
      }
      .social-icons{
        display: flex;
        margin-left: 450px;
        margin-top: -90px;
        gap: 40px;
        size: 40px;
        color: gray;
      }
      .icons{
        color:gray;
        font-size: 80px;
      }
      .Copyright{
        margin-left: -500px;
        margin-top: 50px;
        font-size: 40px;
        color: white;
      }
      
}
@media only screen and (min-width: 1890px) and (max-width:1999px) {

        .nav-list {
          display: flex;
          margin-top: -1000px;
          left: 20px;
          color: black;
          width: 800px;
          font-size: 500px;
          font-weight: bolder;
          height: 200px;
          margin-left: 400px;
          background-color: #ffffff;
          z-index: 1;
        }
        .buttonNavbar{
          background-color: #015004;
          color: white;
          border: none;
          border-radius: 40px;
          height: 60px;
          width: 150px;
          margin-top: px;
          margin-left: 10px;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          font-size: 25px;
          margin-top: 50px;
          cursor: pointer;
        }
        
        .nav-list.show {
          display: none;
        }
        .height{
          font-size: 40px;
        }
        .logo img {
          width: 500px;
          margin-left: 100px;
          height: 300px;
          margin-top: -1000x;
        }
        .toggle-btn {
          display: none;
        }
        .Footer{
          background-color: #000000;
          height: 600px;
          width: 1930px;
          margin-top: 400px;
          margin-bottom: 0px;
        }
        .UpperPart{
          background-color: #000000;
          height: 600px;
          width: 768px;
          display: flex;
          columns: 2;
        }
        .LeftSide{
          background-color: rgb(0, 0, 0);
          width: 1600px;
        }
        .subheading{
          color: white;
          margin-top: 20px;
          margin-left: 100px;
          font-size: 30px;
          width: 1400px;
        }
        .icons2{
          color: white;
          display: flex;
          columns: 2;
          gap: 30px;
          font-size: 40px;
          margin-top: 20px;
          margin-left: 105px ;
        }
        .Rightside{
          margin-left: -100px;
          margin-top: -80px;
          height: 500px;
          width: 1600px;
        }
        .footerpic{
            height: 600px;
  
        }
        .straightline{
          width: 3200px;
          margin-left: 100px;
          margin-top: -200px;
          display: none;
        }
        .Lowerpart{
          background-color: rgb(0, 0, 0);
          height: 50px;
          display: flex;
          columns: 2;
          margin-top: -200px;
          width: 1920px;
        }
        .FindusOn{
          background-color: rgb(0, 0, 0);
          width: 1600px;
          height: 50px;
          font-size: 40px;
          margin-left: 70px;
        }
        .find1{
          margin-left: 30px;
          margin-top: 30px;
          color: #e7e7e7;
        }
        .social-icons{
          display: flex;
          margin-left: 350px;
          margin-top: -90px;
          gap: 40px;
          size: 40px;
          color: gray;
        }
        .icons{
          color:gray;
          font-size: 80px;
        }
        .Copyright{
          margin-left: -500px;
          margin-top: 50px;
          font-size: 30px;
          color: white;
        }
        
}
@media only screen and (min-width: 1500px) and (max-width:1700px){

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 180px;
  height: 150px;
  background-color: transparent;
  margin-top: -70px;
  margin-bottom: -25px;
  margin-left: 70px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: -190px;
  margin-bottom: -200px;
  margin-right: 70px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000000;
  padding-right: 20px;
  margin-bottom: -200px;
  font-size: large;
  font-weight: bolder;
}
.buttonNavbar{
  background-color: #015004;
  color: white;
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 130px;
  margin-top: -20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.toggle-btn {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
.Footer{
  background-color: #000000;
  height: 300px;
  margin-top: 400px;
}
.UpperPart{
  background-color: #000000;
  height: 200px;
  columns: 2;
  display: flex;
}
.LeftSide{
  background-color: rgb(0, 0, 0);
  width: 650px;
}
.subheading{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.icons2{
  color: white;
  display: flex;
  columns: 2;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px ;
}
.Rightside{
  margin-left: 540px;
  margin-top: -80px;
}
.imagefooter{
  height: 100px;
}

.straightline{
  width: 1200px;
  margin-left: 60px;
  margin-top: 10px;
  display: none;
}
.Lowerpart{
  background-color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  columns: 2;
}
.FindusOn{
  background-color: rgb(0, 0, 0);
  width: 650px;
  height: 50px;
}
.find1{
  margin-left: 100px;
  margin-top: 30px;
  color: #e7e7e7;
}
.social-icons{
  display: flex;
  margin-left: 250px;
  margin-top: -30px;
  gap: 50px;
  size: 20px;
  color: gray;
}
.icons{
  color:gray;
  font-size: 25px;
}
.Copyright{
  margin-left: 650px;
  margin-top: 30px;
  color: white;
}
}
  
  

  
  



    
  
